body {
  margin: 0;
  padding: 0;
  color: azure;
  font-size: 14px;
  background-color: #1c252f;
  font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
  min-height: 100vh;
}


.container {
  max-width: 100%;
  margin: 150px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
