.filters {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.filters img {
    color: azure;
}

select {
    background-color: #16151a;
    color: azure;
    border: none;
    border-radius: 5px;
    width: 130px;
    height: 30px;
    font-size: 16px;
    padding-left: 10px;
}

option {
    color: azure;
}


.grid-container {
    display: grid;
    grid-template-columns: 1fr; /* One column */
    grid-gap: 10px; /* Gap between items */
    margin: 0 50px;
    border: 1px solid azure;
    border-radius: 20px;
    padding: 20px;
}
  
.item_player {
    width: 100%; /* Take full width of the column */
    background-color: rgb(47, 78, 129);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    padding: 10px 0;
}

.filter_container {
    margin: 150px 0;
}

.item_player img {
    width: 100px;
    height: 100px;
}

.item_player p{
    padding: 0 10px;
}

.item_player a{
    text-decoration: none;
    color: azure;
}

@media (max-width: 700px) {
    .item_player {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
}

@media (max-width: 550px) {
    .filter_container {
        margin-top: 175px;
    }
}