.sports {
  height: 100%;
}
.popover {
  position: absolute;
  list-style-type: none;
  background-color: #171e26;
  padding: 10px;
  top: 100%;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.25s linear;
}

.popover a {
  text-decoration: none;
  color: azure;
}

.popover a li {
  margin-bottom: 10px;
}

.sports:hover > .popover {
  visibility: visible;
  opacity: 1;
}