footer {
  height: 80px;
  width: 100%;
  border-top: 1px #cccccc solid;
  position: sticky;
  top: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer p {
  margin: 5px 0;
}
