.container {
  margin-top: 180px;
  align-items: flex-start;
}
.info {
  max-width: 600px;
  max-height: 370px;
  padding: 10px;
  background: #171e26;
  border-radius: 10px;
  margin-bottom: 50px;
}

.info .row {
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
}

.info .row img {
  width: 210px;
  height: 300px;
}

.info .row .text {
  flex: 1;
  padding: 20px;
}

.info h2 {
  font-size: 2rem;
  color: #5640a6e1;
  text-align: center;
  margin: 0;
  padding: 10px 0;
}

.info .row .text p {
  font-size: 0.8rem;
  margin: 0;
}

.sports_photo {
  flex: 1;
  max-width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0 10px;
}

.sports_photo img {
  width: 300px;
  height: 300px;
}

@media (max-width: 1350px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
  .sports_photo {
    width: 96.3%;
  }
}

@media (max-width: 650px) {
  .info {
    flex-direction: column;
    align-items: center;
    max-height: none;
    max-width: 400px;
    margin-left: 0;
  }

  .info .row {
    flex-direction: column;
  }

  .info .row img {
    margin-top: 20px;
    max-width: none;
  }

  .info .row .text {
    max-width: none;
  }

  .text .name {
    text-align: center;
  }
  .text {
    padding: 0 10px;
  }
  .text p {
    margin-bottom: 30px;
  }
}
