<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Champion Sports Club</title>
    <link rel="stylesheet" href="/static/club/styles/common.css" />
    <link rel="stylesheet" href="/static/club/styles/header.css" />
    <link rel="stylesheet" href="/static/club/styles/footer.css" />
    <link rel="stylesheet" href="/static/club/styles/filters.css" />
    {% block links %}
      {# more links #}
    {% endblock %}
    <script src="/static/club/scripts/header.js" defer></script>
    <link rel="icon" href="/static/club/images/ic_on.png" />
  </head>
  <body>
    <header>
      <section class="options">
        <div class="players">
          <a href="/club/players">
            <h3>Players</h3>
          </a>
        </div>
        <div class="sports">
          <a href="/club/sports">
            <h3>Sports</h3>
          </a>
          <ul class="popover">
            <a href="/club/sports/karate">
              <li>karate</li>
            </a>
            <a href="/club/sports/squash">
              <li>Squash</li>
            </a>
            <a href="/club/sports/track_field">
              <li>Track & Field</li>
            </a>
          </ul>
        </div>
        <div class="schedules">
          <a href="/club/schedules">
            <h3>Schedules</h3>
          </a>
        </div>
        <div class="tournaments">
          <a href="/club/tournaments">
            <h3>Tournaments</h3>
          </a>
        </div>
      </section>
      <a href="/club/">
        <img src="/static/club/images/logo.png" alt="club logo" />
      </a>
      <h1>Champions Sports Club</h1>
      <div class="hamburger-menu">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </header>
    {% block content %}
      {# the page content #}
    {% endblock %}
    <footer>
      <p>Sports Club Center &copy; 2023</p>
      <p>contact us: admin@admin.com</p>
    </footer>
  </body>
</html>
