<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Champion Sports Club</title>
    <link rel="stylesheet" href="../static/styles/common.css" />
    <link rel="stylesheet" href="../static/styles/header.css" />
    <link rel="stylesheet" href="../static/styles/footer.css" />
    <link rel="stylesheet" href="../static/styles/filters.css" />
    {% block links %}
        {# more links #}
    {% endblock %}
    <link rel="icon" href="../static/images/ic_on.png" />
  </head>
  <body>
    <header>
      <section class="options">
        <div class="players">
          <a href="/players">
            <h3>players</h3>
          </a>
        </div>
        <div class="sports">
          <a href="/sports">
            <h3>sports</h3>
          </a>
          <ul class="popover">
            <a href="/sports/squash">
              <li>Squash</li>
            </a>
            <a href="/sports/karate">
              <li>karate</li>
            </a>
            <a href="/sports/track_field">
              <li>Track and Field</li>
            </a>
          </ul>
        </div>
        <div class="schedules">
          <a href="/schedules">
            <h3>schedules</h3>
          </a>
        </div>
        <div class="tournaments">
          <a href="/tournaments">
            <h3>tournaments</h3>
          </a>
        </div>
      </section>
      <a href="/">
        <img src="../static/images/logo.png" alt="club logo" />
      </a>
      <h1>Champions Sports Club</h1>
    </header>
    {% block content %}
        {# the page content #}
    {% endblock %}
    <footer>Sports Club Center &copy; 2023</footer>
  </body>
</html>