</head>
<body>
<header>
    <section class="options">
        <div class="players">
            <a href="players.html">
              <h3>players</h3>
            </a>
            <ul class="list"></ul>
        </div>
        <div class="sports">
          <a href="sports.html">
            <h3>sports</h3>
          </a>
          <ul class="popover">
            <a href="squash.html">
              <li>Squash</li>
            </a>
            <a href="karate.html">
              <li>karate</li>
            </a>
            <a href="track_field.html">
              <li>Track and Field</li>
            </a>
        </div>
        <div class="schedules">
            <a href="schedules.html">
              <h3>schedules</h3>
            </a>
            <ul class="list"></ul>
        </div>
    </section>
    <a href="index.html">
      <img src="images/logo.png" alt="club logo">
    </a>
    <h1>Champions Sports Club</h1>
</header>