{% extends "base.html" %} {% block links %}
<link rel="stylesheet" href="../static/styles/info.css" />
<script src="../static/scripts/home_page.js" defer></script>
{% endblock %} {% block content %}
<div class="container">
  <article class="info">
    <img src="../static/images/club.jpg" alt="Chub image" />
    <div class="text">
      <h2 class="name">Sports Club Center</h2>
      <p>
        SCC provides a unique platform for athletes to hone their skills,
        compete at the highest levels, and forge their own paths to success.
        Embracing the solo journey doesn't mean going it alone; our tight-knit
        community offers support, camaraderie, and a shared passion for pushing
        individual boundaries. Our state-of-the-art training facilities cater to
        the nuanced needs of each sport, ensuring that athletes have access to
        the resources required to reach their full potential. From personalized
        coaching to cutting-edge technology, SCC empowers individuals to thrive
        in their chosen arenas. We host a variety of events, championships, and
        exhibitions that showcase the incredible talent within our club. Whether
        you're an aspiring Olympian or simply pursuing a personal best, SCC is
        the place where individual achievements take center stage. Join us at
        SCC, where the pursuit of greatness is an intensely personal journey,
        and every athlete is the hero of their own story.
      </p>
    </div>
  </article>
  <div class="sports_photo">
    <a href="sports/karate">
      <img src="../static/images/karate_players.jpg" alt="karate_players" />
    </a>
    <a href="sports/squash">
      <img src="../static/images/squesh_players.png" alt="squesh_players" />
    </a>
    <a href="sports/track_field">
      <img src="../static/images/running_players.jpg" alt="running_players" />
    </a>
  </div>
  <div class="info_event_wraper"></div>
</div>
{% endblock %}
