{% extends "base.html" %}

{% block links %}
<link rel="stylesheet" href="../static/styles/sports.css" />
{% endblock %}

{% block content %}
<div class="container">
  <div class="image_links">
    <img src="../static/images/karate_competition.jpg" alt="karate_competition" />
    <div class="links">
      <a href="https://www.wkf.net/">World Karate Federation (WKF)</a>
      <a href="https://africa.wkfworld.com/"
        >African Karate Federation (WKF-Africa)</a
      >
      <a href="https://egykf.com/">Egyptian Karate Federation</a>
    </div>
  </div>
  <div class="data">
    <p class="short_info">
      Karate is a traditional martial art originating from Okinawa, Japan. It is
      a striking art that emphasizes empty-hand fighting techniques, such as
      punching, kicking, blocking, and throwing. Karate also incorporates a
      philosophy of self-improvement and mental discipline.
    </p>
    <a href="schedules"><button>schedules</button></a>
  </div>
</div>
{% endblock %}
