{% extends "base.html" %}

{% block links %}
<!-- <link rel="stylesheet" href="../static/styles/info.css" /> -->
{% endblock %}

{% block content %}
<div class="container">
    <form method="POST" action="/login">
        {{ form.csrf_token }}
        {{ form.email.label }} {{ form.email }}
        {{ form.password.label }} {{ form.password }}
        <!-- <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" required><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required><br> -->
        <input type="submit" value="Login">
    </form>
</div>
{% endblock %}