{% extends "base.html" %}

{% block links %}
<link rel="stylesheet" href="../static/styles/player.css" />
{% endblock %}

{% block content %}
<div class="filter_container">
  <div class="filters">
    <img src="../static/images/filter_list.png" alt="filter_list" />
    <h2>Filters</h2>
    <select id="sport" name="sport">
      <option value="All">All</option>
      {% for sport in sports %}
      <option value="{{ sport.id }}">{{ sport.name }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="grid-container">
    {% for i in range(size) %}
    <div class="item_player">
      <a href="/players/{{ players[i].id }}"><h2>{{ players[i].first_name}} {{ players[i].last_name }}</h2></a>
      <p>
        {{ ages[i] }} years old {{ players[i].sport.name }} player, participated in {{ players[i].played_tournament() }} tournaments.
      </p>
      <img
        src="../static/personal_images/{{ players[i].id }}.png"
        onerror="this.onerror=null; this.src='../static/personal_images/no_pic.png'"
        alt="{{ players[i].sport.name }} player"
      />
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
