{% extends "base.html" %}

{% block links %}
<link rel="stylesheet" href="../static/styles/player_page.css" />
{% endblock %}

{% block content %}
<div class="container">
  <div class="image_stats">
    <img
      src="../static/personal_images/{{ player.id }}.png"
      onerror="this.onerror=null; this.src='../static/personal_images/no_pic.png'"
      alt="Karate Players"
    />
    <div class="stats">
      <ul>
        <li>Score: {{ stats[0] }}</li>
        <li>Matches Played: {{ stats[1] + stats[2] }}</li>
        <li>Matches Win: {{ stats[1] }}</li>
        <li>Matches Lost: {{ stats[2] }}</li>
        <li>
          Played tournaments
          <div class="grid-container">
            <div class="grid_item">
              <p>name</p>
              <p>score</p>
              <p>won</p>
              <p>lost</p>
            </div>
            {% for tournament in player.played_tournaments() %}
            {% set record = tournament.get_record(player.id) %}
            <div class="grid_item">
              <h3>{{ tournament.name }}</h3>
              <p>{{ record.score }}</p>
              <p>{{ record.matches_won }}</p>
              <p>{{ record.matches_lost }}</p>
            </div>
            {% endfor %}
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="data">
    <ul>
      <li>Name: {{ player.first_name }} {{player.last_name}}</li>
      <li>Age: {{ age }}</li>
      <li>Weight: {{ player.weight }}</li>
      <li>Height: {{ player.height }}</li>
      <!-- <li>ِAchevments: None</li> -->
    </ul>
    <a href="/schedules"><button>schedules</button></a>
  </div>
</div>
{% endblock %}
