{% extends "base.html" %}

{% block links %}
<link rel="stylesheet" href="../static/styles/player.css" />
{% endblock %}

{% block content %}
<div class="filter_container">
  <div class="filters">
    <img src="../static/images/filter_list.png" alt="filter_list" />
    <h2>Filters</h2>
    <select id="sport" name="sport">
      <option value="All">All</option>
      {% for sport in sports %}
      <option value="{{ sport.id }}">{{ sport.name }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="grid-container">
    <div class="item_player">
      <a href="player_page.html"><h2>name</h2></a>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Non saepe sunt
        obcaecati culpa iste nam magnam consectetur pariatur quidem veritatis.
      </p>
      <img
        src=""
        onerror="this.onerror=null; this.src='../static/personal_images/no_pic.png'"
        alt="Karate Players"
      />
    </div>
    <div class="item_player">
      <a href="player_page.html"><h2>name</h2></a>
      <p>some info</p>
      <img
        src=""
        onerror="this.onerror=null; this.src='../static/personal_images/no_pic.png'"
        alt="Karate Players"
      />
    </div>
    <div class="item_player">
      <a href="player_page.html"><h2>name</h2></a>
      <p>some info</p>
      <img
        src=""
        onerror="this.onerror=null; this.src='../static/personal_images/no_pic.png'"
        alt="Karate Players"
      />
    </div>
  </div>
</div>
{% endblock %}
