{% extends "base.html" %}

{% block links %}
<link rel="stylesheet" href="/static/styles/player_page.css" />
{% endblock %}

{% block content %}
<div class="container">
  <div class="image_stats">
    <img
      src="/static/images/personal/{{ player.id }}.png"
      onerror="this.onerror=null; this.src='/static/images/personal/no_pic.png'"
      alt="{{ player.sport.name }} Players"
    />
    <div class="stats">
      <ul>
        <li>Score: {{ stats[0] }}</li>
        <li>Matches Played: {{ stats[1] + stats[2] }}</li>
        <li>Matches Win: {{ stats[1] }}</li>
        <li>Matches Lost: {{ stats[2] }}</li>
        {% if records | length > 0 %}
        <li>
          Played tournaments
          <div class="grid-container">
            <div class="grid_item">
              <p>name</p>
              <p>score</p>
              <p>won</p>
              <p>lost</p>
            </div>
            {% for record in records %}
            <div class="grid_item">
              <a href="/tournaments/{{ record.tournament.id }}">
                <h3>{{ record.tournament.name }}</h3>
              </a>
              <p>{{ record.score }}</p>
              <p>{{ record.matches_won }}</p>
              <p>{{ record.matches_lost }}</p>
            </div>
            {% endfor %}
          </div>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
  <div class="data">
    <ul>
      <li>Name: {{ player.first_name }} {{player.last_name}}</li>
      <li>Age: {{ age }}</li>
      <li>Weight: {{ player.weight }}</li>
      <li>Height: {{ player.height }}</li>
    </ul>
    <a href="/club/schedules?id={{ player.id }}"><button>schedules</button></a>
  </div>
</div>
{% endblock %}
