{% extends "base.html" %}

{% block links %}
<link rel="stylesheet" href="../static/styles/list.css" />
<link rel="stylesheet" href="../static/styles/schedules.css" />
<script src="../static/scripts/schedules.js" defer></script>
{% endblock %}

{% block content %}
<div class="container">
  <div class="filters">
    <img src="../static/images/filter_list.png" alt="filter_list">
    <h2>Filters</h2>
    <select id="sport" name="sport">
      <option value="All">All</option>
      <option value="karate" class="karate">karate</option>
      <option value="squash" class="squash">Squash</option>
      <option value="Track" class="track">Track & Field</option>
    </select>
  </div>
  <div class="buttons">
    <button id="prev">Prev</button>
    <button id="next">Next</button>
  </div>
  <div class="calender">
    <div class="month">
      <div class="date">
        <h1></h1>
        <p></p>
      </div>
    </div>
    <div class="weekdays">
      <div>Mon</div>
      <div>Tue</div>
      <div>Wed</div>
      <div>Thu</div>
      <div>Fri</div>
      <div>Sat</div>
      <div>Sun</div>
    </div>
    <div class="days"></div>
  </div>
</div>
{% endblock %}
