{% extends "base.html" %}

{% block links %}
<link rel="stylesheet" href="/static/club/styles/sport_page.css" />
{% endblock %}

{% block content %}
<div class="sprots_container">
  <div class="sports_filters">
    <a href="/club/sports/karate">
      <img src="/static/club/images/karate_players.jpg" alt="karate_players" />
    </a>
    <a href="/club/sports/squash">
      <img src="/static/club/images/squesh_players.png" alt="squesh_players" />
    </a>
    <a href="/club/sports/track_field">
      <img src="/static/club/images/running_players.jpg" alt="running_players" />
    </a>
  </div>
</div>
{% endblock %}
