{% extends "base.html" %}

{% block links %}
<link rel="stylesheet" href="../static/styles/player_page.css" />
{% endblock %}

{% block content %}
<div class="container">
  <div class="image_stats">
    <img
      src="../static/personal_images/{{ tournament.name ~ '.png' }}"
      onerror="this.onerror=null; this.src='../static/personal_images/no_pic.png'"
      alt="Karate Players"
    />
    <div class="stats">
      <ul>
        <li>Matches Played: {{ stats[0] + stats[1] }}</li>
        <li>Matches Win: {{ stats[0] }}</li>
        <li>Matches Lost: {{ stats[1] }}</li>
      </ul>
    </div>
  </div>
  <div class="data">
    <ul>
      <li>Name: {{ player.first_name }} {{player.last_name}}</li>
      <!-- <li>Age: 19</li> -->
      <li>Weight: {{ player.weight }}</li>
      <li>Height: {{ player.height }}</li>
      <!-- <li>ِAchevments: None</li> -->
    </ul>
    <a href="/schedules"><button>schedules</button></a>
  </div>
</div>
{% endblock %}
