{% extends "base.html" %}

{% block links %}
<link rel="stylesheet" href="/static/club/styles/list.css" />
<script src="/static/club/scripts/tournaments.js" defer></script>
{% endblock %}

{% block content %}
<div class="filter_container">
  <div class="filters">
    <img src="/static/club/images/filter_list.png" alt="filter_list" />
    <h2>Filters</h2>
    <select id="sport" name="sport">
      <option value="All">All</option>
      {% for sport in sports %}
      <option value="{{ sport.id }}">{{ sport.name }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="grid-container"></div>
</div>
{% endblock %}
