{% extends "base.html" %}

{% block links %}
<link rel="stylesheet" href="/static/styles/sports.css" />
{% endblock %}

{% block content %}
<div class="container">
  <div class="image_links">
    <img src="/static/images/track_compition.jpg" alt="track_compition" />
    <div class="links">
      <a href="https://worldathletics.org/" target="_blank"
        >World Athletics (WA)</a
      >
      <a
        href="https://www.athletics.africa/caa-combined-african-u18-u20-championships-ndola-2023"
        target="_blank"
        >African Athletics Confederation (CAA)</a
      >
      <a href="https://system.eaf-eg.com/pages/loginselect.php" target="_blank"
        >Egypt Athletics Federation</a
      >
    </div>
  </div>
  <div class="data">
    <p class="short_info">
      Track and field is an umbrella term for various athletic contests based on
      running, jumping, and throwing skills. It is one of the oldest and most
      popular sports in the world, with competitions dating back to ancient
      Greece. Track and field events are contested at all levels, from local
      meets to the Olympic Games.
    </p>
    <a href="/club/schedules?type=3"><button>schedules</button></a>
  </div>
</div>
{% endblock %}
